@model object

@{
    var properties = ViewData.GetCurrentFormProperties();
}

@foreach (var prop in properties)
{
    var triggerTarget = prop.GetConditionalTriggerTarget();
    if (!string.IsNullOrWhiteSpace(triggerTarget))
    {
    <div id="@triggerTarget">
        @Html.FormProperty(prop)
    </div>
    }
    else
    {
        @Html.FormProperty(prop)
    }

}