@model string

    <div class="form-group">
        <label asp-for="@Model"></label>
        <hint-label class="text text-muted" asp-for="@Model"></hint-label>
        <input asp-for="@Model" class="form-control-plaintext" readonly />
        <span asp-validation-for="@Model"></span>
    </div>