@model DateModel

    <div class="form-group">
        <div class="form-row">
            <label>
                @Html.DisplayNameForModel()
                <hint-label class="text text-muted" asp-for="@Model"></hint-label>
            </label>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label asp-for="Day"></label>
                <input class="form-control-plaintext" asp-for="Day" readonly />
            </div>
            <div class="col-md-3">
                <label asp-for="Month"></label>
                <input class="form-control-plaintext" asp-for="Month" readonly />
            </div>
            <div class="col-md-3">
                <label asp-for="Year"></label>
                <input class="form-control-plaintext" asp-for="Year" readonly />
            </div>
        </div>
    </div>